@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    @if(Context.Session.GetString("email") != null)
    {
        <h1 class="display-4">Welcome @Context.Session.GetString("email")</h1>
    }
    else
    {
        <h1 class="display-4">Welcome anonimo</h1>
    }

    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    
</div>
